<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>Mi perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <!-- <ion-img src=""></ion-img> -->
  <ion-card-header>
    <ion-card-subtitle>Apellidos</ion-card-subtitle>
    <ion-card-title>Nombre del usuario</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-label>Correo electronico</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Numero telefonico</ion-label>
      </ion-item>
    </ion-list>
    <ion-list-header>
      <ion-label>Dirección</ion-label>
    </ion-list-header>
    <ion-list>
      <ion-item>
        <ion-label>Calle</ion-label>
      </ion-item>
      <ion-item>
        <ion-label slot="start">No. Exterior</ion-label>
        <ion-label >No. Interior</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Colonia</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Localidad</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Estado</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
</ion-content>
