<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Compra # 1212775213 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title>Estado de la compra :</ion-card-title>
    <ion-card-subtitle>Metodo de pago: </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-list-header>
        <ion-label>Productos: 1</ion-label>  
      </ion-list-header>
      <ion-item (click)="presentPopover()">
        <ion-label slot="start">Nombre del producto</ion-label>
        <ion-label slot="end">$ 1324</ion-label>
      </ion-item>
      <ion-item>
        <ion-label slot="start">Total: </ion-label>
        <ion-label slot="end">$ 1324</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
</ion-content>
