<ion-slides mode="md" buttom="true" pager="md"  [options]="slideOpts">
  <ion-slide *ngFor="let visitados of visitado">
    <ion-card routerLink="/producto" >
          <ion-card-header>
            <ion-card-subtitle> {{titulo}} </ion-card-subtitle>
          </ion-card-header>
          <ion-img [src]="visitados.img"></ion-img>
          <ion-card-header>
            <ion-card-subtitle> {{visitados.nombreProducto}} </ion-card-subtitle>
            <ion-card-title>$ {{visitados.precio}} </ion-card-title>
          </ion-card-header>
        </ion-card>
  </ion-slide>
</ion-slides>