
.vertical-center {

    -webkit-box-shadow: 10px 58px 89px 0px rgba(138,4,138,1);
-moz-box-shadow: 10px 58px 89px 0px rgba(138,4,138,1);
box-shadow: 10px 58px 89px 0px rgba(138,4,138,1);

  }
  .header{
    -webkit-box-shadow: 10px 10px 89px 0px rgba(8,128,32,1);
    -moz-box-shadow: 10px 10px 89px 0px rgba(8,128,32,1);
    box-shadow: 10px 10px 89px 0px rgba(8,128,32,1);
  }
  ion-img{
    line-height: 200px;
  height: 200px;
}