<app-header titulo="Historial"></app-header>

<ion-content>
<ion-list>
    <ion-item>
        <ion-thumbnail slot="start">
            <ion-img src="../../../assets/img/pc-gamer.png"></ion-img>
          </ion-thumbnail>
        <ion-label>Awesome Label</ion-label>
        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
        <ion-thumbnail slot="start">
            <ion-img src="../../../assets/img/pc-gamer.png"></ion-img>
          </ion-thumbnail>
        <ion-label>Awesome Label</ion-label>
        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
    </ion-item>
</ion-list>
</ion-content>
